In [2]:

import pandas as pd
import numpy as np
import qplib as qp
from qplib import log

pd.set_option('display.max_columns', None)

# query language for pandas

In [3]:
#we will use a very small test dataset so that
#all filtering and modification is easily traceable
df = qp.get_df()
df

,ID,name,date of birth,age,gender,height,weight,bp systole,bp diastole,cholesterol,diabetes,dose
0,10001,John Doe,1995-01-02,-25,M,170,70.2,20,80,Normal,No,10kg
1,10002,Jane Smith,1990/09/14,30,F,175.5cm,68,130,85,Highe,yes,NaN
2,10003,Alice Johnson,1985.08.23,NaN,Female,None,72.5lb,NaN,nan,NaN,N/A,15 mg once a day
3,20001,Bob Brown,19800406,None,Male,280,na,140,90mmHg,GOOD,No,20mg
4,20002,eva white,05-11-2007,40.0,Other,NaN,,135mmhg,NaN,n.a.,Y,20 Mg
5,20003,Frank miller,06-30-1983,forty-five,m,185,75kg,125,75,High,Yes,25g
6,30001,Grace TAYLOR,28-05-1975,nan,ff,1,None,NAN,NaN,Normal,NO,NaN
7,30002,Harry Clark,1960Mar08,unk,NaN,6ft 1in,80.3,122,None,n/a,None,None
8,30003,IVY GREEN,1955-Jan-09,,None,-10,130lbs,,95,high,NaN,30 MG
9,30004,JAck Williams,1950 Sep 10,unknown,Mal,,82,130,0,,n,35
10,30005,john Doe,1945 October 11,35,female,200,-65,45,NaN,Normal,Yes,40ml

In [27]:
#the query language works by sequentially applying
#filter and modification instructions to the dataframe
#each instruction starts with a backtick ("´") and a letter,
#followed by some option flags, an operator and a value.
#each of these components is optional, with an associated default behaviour

df.q('´c = name')  #select the 'name' column
df.q('name')  #defaults to '´c = name'
df.q('name ´r =john doe')  #select rows where 'name' is 'john doe'
df.q('name ´r john doe / bob brown')  #instructions can be chained with / or &
df.q('dose ´r ~\d')  #searches for a regex pattern
df.q('dose ´r ~~\d\d')  #matches a regex pattern
df.q('´r idx > 3 & idx < 6')  #select rows by index

<>:11: SyntaxWarning: invalid escape sequence '\d'
<>:12: SyntaxWarning: invalid escape sequence '\d'
<>:11: SyntaxWarning: invalid escape sequence '\d'
<>:12: SyntaxWarning: invalid escape sequence '\d'
C:\Users\MartinVölkl-GouyaIns\AppData\Local\Temp\ipykernel_17172\198955895.py:11: SyntaxWarning: invalid escape sequence '\d'
  df.q('dose ´r ~\d')  #searches for a regex pattern
C:\Users\MartinVölkl-GouyaIns\AppData\Local\Temp\ipykernel_17172\198955895.py:12: SyntaxWarning: invalid escape sequence '\d'
  df.q('dose ´r ~~\d\d')  #matches a regex pattern

,ID,name,date of birth,age,gender,height,weight,bp systole,bp diastole,cholesterol,diabetes,dose
4,20002,eva white,05-11-2007,40.0,Other,NaN,,135mmhg,NaN,n.a.,Y,20 Mg
5,20003,Frank miller,06-30-1983,forty-five,m,185,75kg,125,75,High,Yes,25g